<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<tr>
    <td>
        <div id="recording-title" class="form-inline edit_hover_class" data-recordid="<%= recording.sid %>" data-path="<%= rename_recording_path(meetingID: recording.source_sid, record_id: recording.sid) %>">
            <text id='recording-text'>
                <%= recording.track_name %>
            </text>
            <a><i id="edit-record" class="fa fa-edit align-top ml-2" data-edit-recordid="<%= recording.sid %>"></i></a>
        </div>
        <div class="small text-muted">
            <%= t("recording.recorded_on", date: recording_date(recording.date_created)) %>
        </div>
    </td>
    <% if recording_thumbnails? %>
    <td class="overflow-hidden">
    </td>
    <% end %>
    <td id="recording-length" class="text-left">
        <%= recording.duration %>
    </td>
    <td id="recording-users" class="text-left">
        <%= recording.grouping_sids || "-" %>
    </td>
    <td class="text-left">
    </td>
    <td class="text-center">
        <% recording.codec %>
    </td>
</tr>